:root {
  --owd-gnome-button-lg-padding-x: 14px;
  --owd-gnome-button-lg-padding-y: 10px;
  --owd-gnome-button-rounded-border-radius: 32px;
  --owd-gnome-button-gap: 8px;

  --owd-win95-button-primary-background: rgb(var(--owd-win95-theme-color-light));
  --owd-win95-button-primary-hover-background: var(--owd-win95-button-primary-background);
  --owd-win95-button-primary-active-background: var(--owd-win95-button-primary-background);
  --owd-win95-button-primary-hover-background: var(--owd-win95-button-primary-background);

  --owd-win95-button-primary-border-color: var(--owd-win95-card-border-color)
}

.p-button {
  display: inline-block;
  min-width: 34px;
  height: 34px;
  font-size: var(--owd-win95-font-size);
  border: 0;
  padding: 0;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: var(--owd-win95-border-width);
    border-color: var(--owd-win95-card-border-color);
    box-shadow: var(--owd-win95-card-box-shadow);
    content: '';
  }

  &:not([disabled]):active, &:not([disabled]).p-button--active {
    & > span {
      font-weight: bold;
    }

    &:before {
      border-color: rgb(var(--owd-win95-theme-color-black)) rgb(var(--owd-win95-theme-color-white)) rgb(var(--owd-win95-theme-color-white)) rgb(var(--owd-win95-theme-color-black));
      box-shadow: rgb(var(--owd-win95-theme-color-dark)) var(--owd-win95-border-width) var(--owd-win95-border-width) 0 0 inset, rgb(var(--owd-win95-theme-color-grey)) calc(var(--owd-win95-border-width) * -1) calc(var(--owd-win95-border-width) * -1) 0 0 inset;
    }

    :deep(span .owd-button__icon) {
      //margin-top: 2px;
    }
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  [aria-label="primary"] {
    &:before {
      left: 2px;
      top: 2px;
      width: calc(100% - var(--owd-win95-gap));
      height: calc(100% - var(--owd-win95-gap));
      outline: var(--owd-win95-card-color) solid var(--owd-win95-border-width);
    }
  }

  [disabled] {
    color: rgb(var(--owd-win95-theme-color-dark));
    text-shadow: rgb(var(--owd-win95-theme-color-white)) var(--owd-win95-border-width) 1px;
  }

  &:not(&--icon) {
    padding: 0 8px;
  }

  &-sm {
    min-width: 21px;
    height: 20px;
  }

  &-lg {
    min-width: 40px;
    height: 40px;
  }

  &> .iconify {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
  }

  // special buttons

  &--window-nav {
    min-width: 21px;
    height: 21px;
  }

  &--system-bar {
    &:active, &.p-button--active {
      > span {
        position: relative;
        pointer-events: none;
        z-index: 2;
      }

      &:before {
        background: repeating-conic-gradient(rgb(var(--owd-win95-theme-color-grey)) 0% 25%, rgb(var(--owd-win95-theme-color-white)) 25% 50%) 0 0 / calc(var(--owd-win95-border-width) * 2) calc(var(--owd-win95-border-width) * 2);
        box-shadow: rgb(var(--owd-win95-theme-color-dark)) var(--owd-win95-border-width) var(--owd-win95-border-width) 0 0 inset, rgb(var(--owd-win95-theme-color-grey)) calc(var(--owd-win95-border-width) * -1) calc(var(--owd-win95-border-width) * -1) 0 0 inset, rgb(var(--owd-win95-theme-color-white)) 0 2px 0 0 inset;
      }
    }
  }

  &--bolded {
    & > span {
    }
  }
}