:root {
  --owd-checkbox-width: 18px;
  --owd-checkbox-height: 18px;

  --owd-inputtext-color: var(--owd-input-color);
  --owd-checkbox-background: var(--owd-input-backgorund);
  --owd-checkbox-checked-background: var(--owd-input-backgorund);
  --owd-checkbox-checked-hover-background: var(--owd-input-backgorund);
  --owd-checkbox-hover-background: var(--owd-input-backgorund);

  --owd-checkbox-border-color: var(--owd-input-border-color);
  --owd-checkbox-hover-border-color: var(--owd-input-border-color);
  --owd-checkbox-checked-hover-border-color: var(--owd-input-border-color);
  --owd-checkbox-checked-border-color: var(--owd-input-border-color);
  --owd-inputtext-focus-border-color: var(--owd-input-border-color);

  --owd-checkbox-shadow: var(--owd-input-box-shadow);
  --owd-inputtext-hover-ring-shadow: var(--owd-input-box-shadow);
  --owd-inputtext-focus-ring-shadow: var(--owd-input-box-shadow);
}

.p-checkbox {
  margin-right: 8px;
  align-items: center;

  &-box {
    border-width: 2px;
    border-style: solid;
    border-color: var(--owd-checkbox-border-color);
  }
}

label {
  .p-checkbox-box {
    margin-top: -6px;
  }
}