:root {
  --owd-inputtext-padding-x: var(--owd-input-padding-x);
  --owd-inputtext-padding-y: var(--owd-input-padding-y);

  --owd-inputtext-color: var(--owd-input-color);
  --owd-inputtext-background: var(--owd-input-backgorund);

  --owd-inputtext-border-color: var(--owd-input-border-color);
  --owd-inputtext-hover-border-color: var(--owd-input-border-color);
  --owd-inputtext-focus-border-color: var(--owd-input-border-color);

  --owd-inputtext-shadow: var(--owd-input-box-shadow);
  --owd-inputtext-hover-ring-shadow: var(--owd-input-box-shadow);
  --owd-inputtext-focus-ring-shadow: var(--owd-input-box-shadow);
}

.p-inputtext {
  border-width: 2px;
  border-style: solid;
  border-color: var(--owd-inputtext-border-color);
}