:root {
  --owd-menu-background: var(--owd-surface-900);
  --owd-menu-shadow: var(--owd-border);
  --owd-menu-item-padding: 8px 8px;
  --owd-menu-submenu-label-padding: 4px 8px;
  --owd-menu-submenu-label-font-weight: 600;

  --owd-menubar-item-padding: 8px 8px;
  --owd-menubar-base-item-padding: 8px 12px;
}

.p-menubar {
  .p-menubar-submenu {
    padding: 4px;
    border-radius: 0;
    box-shadow: var(--owd-border);

    .p-menubar-item, .p-menu-item {

      &:hover {
        background: rgb(var(--owd-elevation-active-background));
        color: rgb(var(--owd-elevation-active-color)) !important;
      }
    }
  }

  &--large {
    .p-menubar-submenu {
      .p-menubar-item {
        height: 36px;
        line-height: 36px;
      }
    }
  }
}

.p-menu {
  font-family: var(--owd-font-family);
  font-size: var(--owd-font-size);

  .p-menu-list {
    padding: 4px;

    .p-menu-item {
      &:hover {
        background: rgb(var(--owd-elevation-active-background));
        color: rgb(var(--owd-elevation-active-color)) !important;
      }
    }
  }
}