:root {
  --p-tabs-tab-background: transparent;
  --p-tabs-tab-hover-border-color: var(--p-card-border-color-alternative);
}

.p-tabs {
  .p-tabpanels {
    border-width: 2px;
    border-style: solid;
    border-color: var(--p-card-border-color-alternative);
    box-shadow: var(--p-card-box-shadow-alternative);
    padding: 18px;
    z-index: 2;
  }

  .p-tablist-tab-list {
    border: 0;
    padding-left: 12px;

    .p-tab {
      border-width: 2px;
      border-color: var(--p-card-border-color-alternative);
      box-shadow: var(--p-card-box-shadow-alternative);
      padding: 5px 8px 3px;
      margin: 0 -2px;
      margin-bottom: -4px !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: var(--p-font-size);

      &-active {
        margin-top: -3px;
        border-bottom: 0;
        z-index: 4;

        &:after {
          position: absolute;
          bottom: 0;
          left: var(--p-border-width);
          right: var(--p-border-width);
          height: 8px;
          content: '';
          background: var(--p-surface-900);
        }
      }
    }
  }
}