:root {
  --owd-textarea-padding-x: var(--owd-input-padding-x);
  --owd-textarea-padding-y: var(--owd-input-padding-y);

  --owd-textarea-color: var(--owd-input-color);
  --owd-textarea-background: var(--owd-input-backgorund);

  --owd-textarea-border-color: var(--owd-input-border-color);
  --owd-textarea-hover-border-color: var(--owd-input-border-color);
  --owd-textarea-focus-border-color: var(--owd-input-border-color);

  --owd-textarea-shadow: var(--owd-input-box-shadow);
  --owd-textarea-hover-ring-shadow: var(--owd-input-box-shadow);
  --owd-textarea-focus-ring-shadow: var(--owd-input-box-shadow);
}

.p-textarea {
  border-width: 2px;
  border-style: solid;
  border-color: var(--owd-inputtext-border-color);
}