@font-face {
  font-family: 'ms-sans-serif';
  src: url('../assets/fonts/ms-sans-serif/MS Sans Serif.ttf') format('truetype'); /* Assicurati che il formato sia corretto */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ms-sans-serif';
  src: url('../assets/fonts/ms-sans-serif-bold/MS Sans Serif Bold.ttf') format('truetype'); /* Idem qui */
  font-weight: bold;
  font-style: normal;
}
