.p-avatar {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(132, 133, 132) rgb(254, 254, 254) rgb(254, 254, 254) rgb(132, 133, 132);
  background: rgb(198, 198, 198);
  top: -1px;
}