:root {
  --p-divider-border-color: transparent;
  --p-divider-vertical-margin: 0 4px;
}

.p-divider {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(254, 254, 254) rgb(132, 133, 132) rgb(132, 133, 132) rgb(254, 254, 254);
  background: rgb(198, 198, 198);
}